doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        section 
            .container 
                .content 
                    .content__item 
                        h3 Increase your business
                            span(style={color: 'orange'})  traffic
                        p We are committed to processing the information in order to contact you and talk about your project. 
                        a(href="#").link Learn More
                    .content__item-1
                            img(src="./img/content__img-1.png", alt="").content__img-1
                            img(src="./img/content__img-2.png", alt="").content__img-2
                            img(src="./img/content__img-3.png", alt="").content__img-3
                            img(src="./img/content__img-4.png", alt="").content__img-4