doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        section.form-1
            .form__rain
            .container 
                .form
                    .form__content 
                        h4 There are many reasons to get down
                        p There are many reasons to get down and start to get depressed about your situation. 
                        .form__item
                            input(type="text" name="title" placeholder="Your Email")
                            a(href="") Send
                        p No spam. Only releases, updates and discounts