doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header.header
            .container 
                a(href="#menu").nav__open ≡
                .header__items 
                    a(href="#")
                        img(src="./img/logo.svg", alt="") 
                    nav#menu.nav
                        a(href="#close" ).nav__close +
                        ul
                            li
                                a(href="#") About
                            li
                                a(href="#") Gallery
                            li
                                a(href="#") Pricing
                            li
                                a(href="#") FAQ 
                            li
                                a(href="#") Benefits
                .header__link 
                    a(href="").link__in SIgn In
                    a(href="").link__up Sign Up                