doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        section 
            .container 
                .help
                    .help__rain
                    .help__img 
                        img(src="./img/help__block.png", alt="")
                    .help__content 
                        h4 Help Finding Information Online
                        p.help__title  Fully customizable and neatly organized components will help you work faster without limiting creative freedom.
                        .help__block
                            .help__item 
                                img(src="./img/help__one.svg", alt="")
                                h5.help__text Feature One
                                p.help__title Fully customizable and neatly organized components will help you work faster 
                            .help__item 
                                img(src="./img/help__two.svg", alt="")
                                h5.help__text Feature Two
                                p.help__title Fully customizable and neatly organized components will help you work faster 
