doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.css")
    body
        main.main 
            .container 
                .main__items 
                    .main__block 
                        h3 Many reasons to get up and start to get back in the business 
                        p The harder you work for something, the greater you’ll feel when you achieve it.
                        a(href="").link__learn Learn More
                        a(href="").link__demo Demo 
                        .main__video
                            img(src="./img/middle.svg", alt="")
                            span The harder you work for something, the greater you’ll feel when you achieve it.  
                                span <br> 
                                    a(href="") Watch preview
                    .main__picture
                        img(src="./img/frame.png", alt="").main__picture-img
                .main__company
                    .container 
                        .company__img
                            img(src="./img/frame.svg")
                            img(src="./img/frame-1.svg")
                            img(src="./img/frame-2.svg")
                            img(src="./img/frame-3.svg")
                            img(src="./img/frame-4.svg")
                            img(src="./img/frame-5.svg")