doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        section 
            .container 
                .saving
                    .saving__rain
                    .saving__blocks
                        .saving__text 
                            h3 3 Simple Ways To Save 
                                span(style={color: 'orange'}) Save 
                                span A Bunch of
                                span(style={color: 'orange'})  Money 
                                span When Buying A New Computer
                            p Fully customizable and neatly organized components will help you work faster without limiting creative freedom.
                        .saving__content
                            .saving__item 
                                h4 100+
                                p 5 Reasons To Purchase Desktop Computers       
                            .saving__item 
                                h4 43,000+
                                p 3 Simple Ways To Save A Bunch Of Money When Buying A New Computer     
                            .saving__item 
                                h4 30+
                                p A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More
                    .saving__startup
                        h3 Create your 
                            span(style={color: 'orange'}) next project
                            span  with startup framework
                        a(href="") Get Started
                        .saving__soars
                            img(src="./img/soars.png", alt="").saving__img