doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        section
            .container
                .variation__text 
                    h2 Your choice
                    p There are many reasons to get down and start to get depressed about your situation.
                    .variation__rain-1
                    .variation__rain-2
                .variation
                    .variation__block 
                        img(src="./img/flip.svg", alt="")
                        span Ecstatic elegance
                        p Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
                    .variation__block 
                        img(src="./img/Airpods.svg", alt="")
                        span Ecstatic elegance
                        p Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
                    .variation__block 
                        img(src="./img/wifi.svg", alt="")
                        span Ecstatic elegance
                        p Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
                    .variation__block 
                        img(src="./img/thunder.svg", alt="")
                        span Ecstatic elegance
                        p Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
                    .variation__block 
                        img(src="./img/quotes.svg", alt="")
                        span Ecstatic elegance
                        p Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
                    .variation__block 
                        img(src="./img/Bulb.svg", alt="")
                        span Ecstatic elegance
                        p Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.