doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        section 
            .container 
                .invest 
                    .invest__item 
                        h3 Invest property for better
                            pan(style={color: 'orange'})  business
                        p We are committed to processing the information in order to contact you and talk about your project. We are committed to processing the information.
                        a(href="").link Learn More
                    .invest__img-1
                        img(src="./img/invest__img-2.png", alt="").invest__img-2
                        img(src="./img/invest__img-3.png", alt="").invest__img-3
                        