footer.wow.animate__bounceIn(data-wow-duration="5s")
    .container
        .footer__item-1
            h3.h3 MNTN 
            p Get out there & discover your next slope, mountain & destination!
            span Copyright 2019 MNTN, Inc. Terms & Privacy
        .footer__item-2 
            ul
             li
              a(href="#").link__footer More on The Blog 
             li
              a(href="#") About MNTN
             li
              a(href="#") Contributors & Writers
             li
              a(href="#") Write For Us
             li
              a(href="#") Contact Us
             li
              a(href="#") Privacy Policy
        .footer__item-3
            ul
             li
              a(href="#").footer__link More on MNTN
             li
              a(href="#") The Team
             li
              a(href="#") Jobs
             li
              a(href="#") Press
            